@font-face {
  font-family: "Oswald-Bold";
  src: url("./Oswald-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pacifico-Regular";
  src: url("./Pacifico-Regular.woff") format("woff");
}
@font-face {
  font-family: "FjallaOne-Regular";
  src: url("./FjallaOne-Regular.woff") format("woff");
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: url("./tacos_splash.jpg") no-repeat center center fixed;
  background-size: cover;
  display: grid;
  grid-template-rows: minmax(12rem, 1fr) 4fr;
  --highlight-color-01: hsl(327, 85%, 65%);
  --highlight-color-01b: hsl(319, 100%, 33%);
}

header {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
  gap: 5rem;
}

#logo-container {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  padding-left: 2rem;
  gap: 1rem;
  height: min-content;
  position: relative;
}

#logo-container {
  color: var(--highlight-color-01);
  font-size: 3.1rem;
  font-style: italic;
  font-family: "Pacifico-Regular";
  display: grid;
  grid-template-rows: 14px 14px 7px;
  text-decoration: none;
  animation-name: tilt-shaking;
  animation-duration: 125ms;
  animation-iteration-count: 5;
  transition: transform 225ms;
}

#logo-container:hover {
  transform: scale(1.09) rotate(3deg);
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#name-taco,
#name-loco {
  display: inline-block;
  transform: rotate(-15deg);
  text-shadow: 4px 4px white;
  z-index: 1;
}
#name-taco {
  z-index: 2;
}

#logo-image {
  width: 141px;
  position: relative;
  top: -50px;
  left: -27px;
  transform: rotate(-15deg) translate(-3px, -20px);
}

nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 3rem;
  padding-top: 0.25rem;
}

button {
  cursor: pointer;
  height: min-content;
  border: none;
  background: var(--highlight-color-01);
  padding-inline: 1.5rem;
  color: white;
  font-size: 2.4rem;
  font-weight: bold;
  font-family: "Oswald-Bold";
  transform: skew(0deg, -5deg);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.4);
  transition: transform 250ms;
}

button:hover {
  transform: translate(0px, 7px) skew(0deg, -5deg) scale(1.05);
  text-decoration: underline;
}

.tab-selected {
  background-color: var(--highlight-color-01b);
}

svg {
  filter: drop-shadow(12px 12px 1px rgba(0, 0, 255, 0.4));
}

#home-container {
  display: grid;
  height: 100%;
  grid-template-rows:
    [banner-start] minmax(200px, 2fr) [banner-end] minmax(200px, 1fr)
    [footer-start] 1fr [footer-end];
}

#banner {
  grid-row-start: banner-start;
  grid-row-end: banner-end;
  /* background-color: hsla(15, 99%, 85%, 0.88); */
  background-color: hsla(15, 99%, 15%, 0.88);
  border-block: 4px solid var(--highlight-color-01);
  outline: 8px solid hsla(15, 99%, 15%, 0.88);
  color: var(--highlight-color-01);
  font-size: 4rem;
  font-family: "FjallaOne-Regular";

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.4);
}

.taco-image-cropper {
  width: 33vh;
  height: 33vh;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  /* align-self: center; */
  place-self: center;
}

.taco-image {
  display: inline;
  margin: 0 auto;
  width: auto;
}

#footer {
  grid-row-start: footer-start;
  grid-row-end: footer-end;
  background-color: hsla(311, 71%, 10%, 0.96);
  border-top: 4px solid var(--highlight-color-01);
  outline: 8px solid hsla(311, 71%, 10%, 0.96);

  display: grid;
  grid-auto-flow: column;
  grid-template-columns: [address-start] 1fr [address-end] min-content [hours-start] 1fr [hours-end];
  color: white;
}

#address {
  place-self: center;
  font-size: 1.4rem;
  font-family: "Oswald-Bold";
  color: darkorange;
}

#address > p:first-child {
  font-size: 1.9rem;
  color: white;
}

#dotted-line {
  border-left: 5px dotted maroon;
  width: 1px;
}

#hours {
  place-self: center;
  font-size: 1.1rem;
  font-family: "Oswald-Bold";
  color: Goldenrod;
}

#hours > p:first-child {
  font-size: 1.9rem;
  color: var(--highlight-color-01);
}

#hours > p:last-child {
  color: white;
}

#menu-container,
#our-story-container {
  display: grid;
  grid-template-rows: [content-row] 20fr [content-row] 1fr [gutter-row];
  grid-template-columns: [gutter] 1fr [content-column-start] 20fr [content-column-end] 1fr [gutter];
  height: 100%;
}

#menu-grid,
#our-story-grid {
  grid-row-start: content-row 1;
  grid-row-end: content-row 2;
  grid-column-start: content-column-start;
  grid-column-end: content-column-end;
  background-color: antiquewhite;
  border: 4px solid var(--highlight-color-01);
  outline: 8px solid hsla(15, 99%, 15%, 0.88);
  border-radius: 15px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.4);
  padding: 1rem;
}

#menu-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(190px, 90%), 1fr));
  grid-template-rows: repeat(2, 1fr);
}

#menu-item {
  padding: 1rem;
  background-color: white;
  border-radius: 7px;
  box-shadow: 2px 2px 5px 2px hsla(333, 85%, 15%, 0.3);
  outline: 1px solid pink;
  font-family: "Oswald-Bold";
  color: hsla(0, 85%, 15%, 1);
}

#contact-us-container {
  display: grid;
  grid-template-rows: [content-row] minmax(min-content, 1fr) [content-row] 1fr [gutter-row];
  grid-template-columns: [gutter] 1fr [content-column-start] 20fr [content-column-end] 1fr [gutter];
  height: 100%;
  padding-inline: max(3rem, 15%);
}

#contact-us-grid {
  grid-row-start: content-row 1;
  grid-row-end: content-row 2;
  grid-column-start: content-column-start;
  grid-column-end: content-column-end;
  background-color: antiquewhite;
  border: 4px solid var(--highlight-color-01);
  outline: 8px solid hsla(15, 99%, 15%, 0.88);
  border-radius: 15px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.4);
  padding: 1rem;

  display: grid;
  grid-auto-flow: column;
}

#contact-us-image {
  background-color: Ivory;
  display: grid;
  place-content: center;
  place-items: center;
  border-radius: 7px;
}

#contact-us-image img {
  width: clamp(200px, 25vh, 500px);
}

#contact-us-header {
  font-family: "Oswald-Bold";
}

#contact-us-form {
  display: grid;
  grid-auto-flow: row;
  justify-content: start;
  align-content: start;
  /* gap: clamp(1rem, 7%, 3rem); */
  gap: 2%;
  align-items: center;
  justify-items: center;
  padding-inline: 1rem;
  font-size: 0.8rem;
  justify-self: center;
}

.contact-us-field-group {
  position: relative;
  padding-top: 20px;
}

.contact-us-input:placeholder-shown ~ .contact-us-label {
  position: absolute;
  left: 5.2px;
  transform: translate(0, 0) scale(1);
  transition: transform 0.2s;
  color: lightgray;
}

.contact-us-label {
  position: absolute;
  left: 5.2px;
  transform: translate(2.4px, -17px) scale(1.1);
  transition: 0.2s;
  font-weight: bold;
}

.contact-us-input:focus ~ .contact-us-label {
  position: absolute;
  left: 2.2px;
  transform: translate(2.4px, -17px) scale(1.1);
  font-weight: bold;
  color: black;
}

.contact-us-input {
  padding: 0.25rem;
  width: 20rem;
  border-radius: 5px;
  border: 1px solid maroon;
}

.contact-us-input::placeholder {
  color: transparent;
}

#contact-us-button {
  transform: scale(0.5);
}

@media screen and (max-width: 1000px) {
  #contact-us-image {
    display: none;
  }
}
