@font-face {
  font-family: "Oswald-Bold";
  src: url("./Oswald-Bold.woff") format("woff");
}

@font-face {
  font-family: "Pacifico-Regular";
  src: url("./Pacifico-Regular.woff") format("woff");
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  background: url("./tacos_splash.jpg") no-repeat center center fixed;
  background-size: cover;
  --header-height: 7rem;
}

header {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  justify-content: center;
  gap: 5rem;
}

#logo-container {
  height: var(--header-height);
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  /* align-items: center; */
  padding-left: 2rem;
  gap: 1rem;
  /* background-color: ; */
  height: min-content;
  position: relative;
}

#logo-container {
  color: hotpink;
  font-size: 3.1rem;
  /* font-weight: bold; */
  font-style: italic;
  font-family: "Pacifico-Regular";
  display: grid;
  grid-template-rows: 14px 14px 7px;
}

#name-taco,
#name-loco {
  display: inline-block;
  transform: rotate(-15deg);
  text-shadow: 4px 4px white;
  z-index: 1;
}
#name-taco {
  z-index: 2;
}

#logo-image {
  /* background: url("./taco-svgrepo-com.svg") no-repeat center center fixed; */
  width: 141px;
  position: relative;
  top: -50px;
  left: -27px;
  transform: rotate(-15deg) translate(-3px, -20px);
}

nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  /* align-items: center; */
  gap: 3rem;
  padding-top: 0.25rem;
}

button {
  cursor: pointer;
  height: min-content;
  border: none;
  background: hotpink;
  padding-inline: 1.5rem;
  color: white;
  font-size: 2.4rem;
  font-weight: bold;
  /* font-style: italic; */
  font-family: "Oswald-Bold";
  transform: skew(0deg, -5deg);

  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.4);
}

svg {
  filter: drop-shadow(12px 12px 3px rgba(0, 0, 255, 0.55));
}
